body {
	background: grey;
}
.jsonviewsettings {
	
}
.jsonviewsettings::before {
	content: "Settings:";
}
.jsonviewsettings input {
	display: inline-block;
	margin: 12px;
}
.jsonview { 
	/* box-sizing: border-box; */
	background: rgb(12, 4, 6);
	min-width: 320px;
	min-width: 480px;
	overflow: auto;
	color: rgb(190, 189, 182);
	font: 12pt Verdana;
	padding: 2px;
}
.private {
	/* display: none; */
}
.public {	/* .public doesn't work, reserved word ??? */
	/* display: none; */
}
.function {
	/* display: none; */
}
.prototype {
	/* display: none; */
}
.class {
	/* display: none; */
}
.item {
	clear: both;
	float: left;
	width: 100%;
	margin: 1px;
}
.item:hover {
	background: rgb(82, 84, 84);
	cursor: arrow;
}
.item > .name::before { 
	/* float: left; */
	content: '  ';
	/* font-size: small; */
	font-weight: bold;
	font-family: Monospace;
	padding-bottom: 2px;
	vertical-align: middle;
	width: 0.25em;
	padding: 0.2em;
	white-space: pre;
}
a {
	text-decoration: none;
	width: 100% ;
	height: 100% ;
	color: rgb(244,  252, 248);
}
a:hover {
	text-decoration: underline;
	color: rgb(255, 255, 255);
}
a:visited > .item > span {
	color: rgb(244,  252, 248);
}
a:active > .item > span {
	color: rgb(244,  252, 248);
}
a:hover > .item {
	background: rgb(130, 132, 76);
}
a > .item > .name::before {
	content: '+ ';
}
/*
font-size: small;
vertical-align: middle;
width: 0.25em;
margin: 0.2em; }
*/
a.active > .item > .name::before {
	content: '- ';
}
.name {
	float: left;
}
.type {
	font-size: small;
	color: lightblue;
}
.id {
	color:  rgb(212, 244, 84);;
}
.count {
	font-size: smaller;
	min-width: 3em;
}
.value {
	float: right;
	font-size: small;
}
.subtree {
	/* float: left; */
	/* width: 100% ; */
	margin-left: 0.5em;
	display: none;
}
a.active + .subtree {
	display: block;
}
