<html>
<head>
	<title><%= title %></title>
	<script src="/js/utility.js"></script>
	<link rel=stylesheet href="/css/style.css" />
</head>
<body>
<h1><%= title %></h1>
<div class="jsonviewsettings">
<% include ../partial/jsonviewsettings %>
</div>
<div class="jsonview">
<% include ../partial/jsonview %>
</div>
</body>