
.dupe-group { background: #030303; }
.dupe-group-alternate-row { background: #424242; }

.dupe-hash { color: #FBAB7F; padding: 3px 5px; }
.dupe-size { color: #ABFB7F; padding: 3px 5px; }
.dupe-paths { color: #7FABFB; padding: 1px 5px; }
